
.toggler {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-self: center;
    padding: 13px;
}


.toggler-slider {
    width: 35px;
    height: 18px;
    border-radius: 2rem;
    margin-inline: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color:white ;
    box-sizing: content-box;
    padding: 2px;
}

nav.dark .toggler-slider {
    background-color:black ;
}
.toggler-slider-circle {
    height: 18px;
    width: 18px;
    transition: all ease-in 0.3s;
}
.toggler-slider-circle img{
    height: 18px;
    width: 18px;
    transition: all ease-in 0.3s;
}

nav.dark .toggler-slider {
    justify-content: flex-end;
    transition: all ease-in 0.3s;
}



