:root {
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-color: #00ADB5;
    --secondary-color:#EEEEEE;
    --third-color: #393E46;
    --fourth-color:#222831;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100%;
    margin-top: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 80%;
    padding: 20px;
    margin-bottom: 30px;
    color: black; 
    border: 5px solid var(--third-color);
    border-radius: 15px;
    transition: all ease-in 0.3s;
}
body.dark .main {
    color: white;   
    background-color: var(--fourth-color);
    border: 5px solid var(--third-color);
    border-radius: 15px;
    transition: all ease-in 0.3s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 17px;
    width:100% ;
}


.form-input {
    border-radius: 6px;
    text-indent: 5px;
    height: 35px;
    border: none;
    margin: 5px;
    background-color: var(--third-color);
    color: var(--secondary-color);
}

.upload-container {
    display: flex;
}

/* buttons */
.form-button {
    border-radius: 5px;
    background-color: #00ADB5;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
}

.form-button:hover {
    box-shadow: inset 2px 2px 6px rgba(0, 0,0,.5);
    color: var(--fourth-color);
    background-color: var(--secondary-color);
    transition: all .3s ease-in;
}


.mid-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
}

.upload-btn {
    background-color: var(--third-color);
    color: white;
    padding: 10px;
    border: 1px  solid var(--fourth-color);
    border-radius: 5px;
    cursor: pointer;
}
body.dark .upload-btn {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    border: 1px  solid var(--secondary-color);
    transition: all .3s ease-in;
}

.upload-btn:hover {
    background-color: var(--secondary-color);
    color: black;
    transition: all .3s ease-in;
}
body.dark .upload-btn:hover {
    background-color: transparent;
    color: white;
    transition: all .3s ease-in;
}


.upload-btn:focus {
    outline: none;
}

.upload-input {
    display: none;
}
.download {
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: transparent;
    background-color: var(--primary-color);
}

.footer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-buttons img {
    width: 40px;
    padding: 8px;
}
.share {
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: transparent;
    background-color: var(--primary-color);
}

.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    max-width: 80vw;
    margin: 10px;
}

.meme-image {
    user-select: none; /* Prevent the image from being highlighted */
    pointer-events: none; /* Make the image non-draggable */
    max-height: 80dvh;
    width: 100%;
}

.meme-text {
    position: absolute;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 1), /* Top-left */
        1px -1px 1px rgba(0, 0, 0, 1), /* Top-right */
        -1px 1px 1px rgba(0, 0, 0, 1), /* Bottom-left */
        1px 1px 1px rgba(0, 0, 0, 1); /* Bottom-right */
    cursor: move;
    height:min-content;
}


@media only screen and (max-width: 767px) {
    
.form {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label {
    font-size: 0.8rem;
}

.upload-btn {
    margin-right: 0px;
} 

.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}
.meme-image {
    user-select: none; /* Prevent the image from being highlighted */
    pointer-events: none; /* Make the image non-draggable */
    height: 100%;
    width: 100%;
}
}
