
.inputs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    height:100%;
    overflow-x: auto;
    flex: 1;
    width:100%;
    padding: 10px;
}
.input-container {
    justify-content: flex-start;
    margin: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border: 3px solid var(--third-color);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}
.add {
    width: auto;
}


.input {
    flex: 1;
}

.size {
    width: 65px;
    border: 1px solid var(--fourth-color);
}
.text {
    width: 75%;
    border: 1px solid var(--fourth-color);
}

.color {
    width: 25px;
    height: 25px;
    border: 1px solid var(--fourth-color);
}

.rotate {
    width: 65px;
    border: 1px solid var(--fourth-color);
}


.input-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}
.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    cursor: pointer;
    width:  22px;
    height:  28px;
    border-radius: 10px;
    flex-basis: 0.5;
    background-color: rgb(212, 21, 21);
}
.remove img {
    width: 25px;
    padding: 3px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width:  25px;
    height:  25px;
    flex-basis: 0.5;
    background-color: var(--secondary-color);
}

.settings img {
    width: 30px;
    padding: 5px;
}

.settings:hover img {
    rotate:  -180deg;
    transition: all  .4s ease-in-out;
}

@media only screen and (max-width: 767px) { 
    .input-buttons {
        flex-wrap: wrap;
    }   
}