:root {
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #00ADB5;
  --secondary-color:#EEEEEE;
  --third-color: #393E46;
  --fourth-color:#222831;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: var(--third-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

body {
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 0;
  overflow-x: hidden;
  transition: all ease-in 0.3s;
}
body.dark {
  background-color: var(--fourth-color);
  transition: all ease-in 0.3s;
}
