:root {
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow-x: hidden;
  transition: all ease-in 0.3s;
}
body.dark {
  background-color: #282D35;
  transition: all ease-in 0.3s;
}

nav {
  font-family: Karla;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: linear-gradient(to right, #672280, #A626D3);
  color: #000;
  height: 10dvh;
}
nav.dark {
  transition: all ease-in 0.3s;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.logo {
  width: 60px;
  height: 50px;
  margin: 5px;
}

.logo-text {
  font-size: 1.6rem;
}

.toggler {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
  padding: 13px;
}

.toggler p {
  font-size: 1rem;
  font-weight: bold;
}

.toggler-slider {
  width: 35px;
  height: 20px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler-slider {
  background-color: #F5F5F5;
}

.toggler-slider-circle {
  height: 20px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  transition: all ease-in 0.3s;
}

nav.dark .toggler-slider-circle {
  background-color: black;
  transition: all ease-in 0.3s;
}

.toggler-light {
  color: white;
  transition: all ease-in 0.3s;
}

nav.dark .toggler-light {
  color: black;
  transition: all ease-in 0.3s;
}

.toggler-dark {
  color: black;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
  transition: all ease-in 0.3s;
}

nav.dark .toggler-slider {
  justify-content: flex-end;
  transition: all ease-in 0.3s;
}
main {
  height: 100%;
}
main.dark {
  background-image: url("./images/react-icon-dark.png"); 
  color: white;   
  transition: all ease-in 0.3s;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
  padding: 17px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
  flex-basis: 100%;
}
.inputs-container .add {
  padding: 10px;
}
.inputs-container .remove {
  padding: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-input {
  border-radius: 0px;
  border: none;
  text-indent: 5px;
  height: 40px;
  border: 1px solid black;
  outline: none;
}
.size {
  width: 60px;
  border: 1px solid black;
}
.text {
  width: 40%;
}

.color {
  width: 30px;
}

.upload-container {
  display: flex;
}

.upload-btn {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.upload-btn:hover {
  background:none;
  background-color: #ffffff;
  color: #000;
  box-shadow: inset 2px 2px 6px rgba(0, 0,0,.5);
  transition: all .3s ease-in;
}

.upload-btn:focus {
  outline: none;
}

.upload-input {
  display: none;
}

.form-button {
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  width: auto;
  font-size: 1rem;
}
button:hover {
  background:none;
  background-color: #ffffff;
  color: #000;
  box-shadow: inset 2px 2px 6px rgba(0, 0,0,.5);
  transition: all .3s ease-in;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90dvh;
}

.meme-image {
  user-select: none; /* Prevent the image from being highlighted */
  pointer-events: none; /* Make the image non-draggable */
  border-radius: 3px;
  max-height: 80dvh;
  width: max-content;
  max-width: 80vw;
  margin: 17px;
}

.meme-text {
  position: absolute;
  width: auto;
  text-align: center;
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 1px rgba(0, 0, 0, 1), /* Top-left */
    1px -1px 1px rgba(0, 0, 0, 1), /* Top-right */
    -1px 1px 1px rgba(0, 0, 0, 1), /* Bottom-left */
    1px 1px 1px rgba(0, 0, 0, 1); /* Bottom-right */
  cursor: move;
}

.top {
  top: 20px; /* Adjust the initial top position as needed */
  left: 50%; /* Align to the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.bottom {
  bottom: 20px; /* Adjust the initial bottom position as needed */
  left: 50%; /* Align to the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

@media only screen and (max-width: 767px) {
  body {
    font-family: "Karla", sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  nav {
    font-family: Karla;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: linear-gradient(to right, #672280, #A626D3);
    color: #000;
    height: 13dvh;
    margin: 0;
  }
  .logo-container {
    padding: 0;
  }
  
  .form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
  }
  
  .form-button {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    width: auto;
  }

  .upload-container {
    display: flex;
  }
  
  .upload-btn {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    margin-right: 0px;
  }
  
  
  .meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90dvh;
  }
  
  .meme-image {
    max-width: 100%;
    border-radius: 3px;
    height:  auto;
    width: auto;
    max-width: 90vw;
    margin: 17px;
  }
  
  .meme-text {
    position: absolute;
    width: auto;
    text-align: center;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    cursor: move;
  }
}