
.meme-image {
    max-height: 80dvh;
    width: 100%;
}

.meme-text {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 1), /* Top-left */
        1px -1px 1px rgba(0, 0, 0, 1), /* Top-right */
        -1px 1px 1px rgba(0, 0, 0, 1), /* Bottom-left */
        1px 1px 1px rgba(0, 0, 0, 1); /* Bottom-right */
    height:min-content;
}

